*.swp
*~
.bundle
.DS_Store
.idea
.project
.rben-version
.rvmrc
config/database.yml
config/initializers/setup_mail.rb
config/initializers/aws_s3.rb
db/*.sqlite3
db/*.sqlite3-journal
log/*
public/assets
public/assets/*
public/uploads/*/*.*
test/*
tmp


