<!DOCTYPE html>
<html>
<head>
  <title>Print Preview</title>
  <style type="text/css">
    <!--
    *{margin: 0; padding: 0}
    @media print { .no-print, .no-print * { display: none !important; } }
    @page { size: auto; margin: 1cm}
    #print_page{
     width: 528px;
     padding: 30px;
     margin:0 auto;
    }
    #print_page table,#print_page tr td, #print_page tr th{
      text-align: left;
      border-collapse: collapse;
    }

    .header {
      margin: 30px auto 40px;
    }

    .header p {
      color: #666;
      font-weight: 100px;
      text-align: center;
      padding: 10px;
    }

    .print_dash {
      border-bottom: 1px #ccc dotted;
      margin: 40px auto 0;
    }

    .page_breaker {
      page-break-after:always;
    }

    .print_summary {
      margin: 30px auto;
      font-weight: bold;
      text-align: right;
    }

    table {
      width: 100%;
    }

    p.date {
      text-align:right;
      padding-bottom:0;
    }
    p.order{
      font-size: 18px;
      font-style: italic;
      color: #333;
    }
    -->
  </style>
  <script lang="javascript" type="text/javascript">
    $(document).ready(function(){
      $("#user").val(<%=params[:user]%>)
      $("#user").change(function(){
        $('form').submit()
      });
    });
  </script>
</head>
<body>
  <div class="no-print" style="text-align: right;padding: 10px;">
    <%#= form_tag history_deliveries_path, :method => 'get' %>
      <%#= select_tag :user, options_for_select(@users) %>
  </div>
  <div id="print_page">
    <div class="header"><h1 style="text-align: center;">Delivery History</h1></div>
    <% @deliveries.each_with_index do |delivery, index| %>
      <%= render :partial => "print_packing_delivery",:locals => {:delivery => delivery, :list_name => '', :date => true} %>
      <% if @deliveries.size != index + 1 %>
        <div class="page_breaker"></div>
      <% end %>
    <% end %>
  </div>
</body>
</html>
