
%div{'ng-controller' => 'PicklistCtrl'}
  %h Put buttons or links to options here: Download New Order, Remove Picked Orders
  %p Put time of day and number of unassigned orders on server here
  %p
    = button_tag 'Download New Order', 'ng-click' => "loadNewOrder()"
    = button_tag 'Sort By Location', 'ng-click' => "loadOrdersByLocation()"
  %p
    %span#current_time{'ng-click' => "timer()"}
      {{time}}
    |
    Unpicked orders:
    %span#unpicked_order_count{'ng-click' => "refreshUnpickedCount()"}
      {{unpicked_count}}
  %form{ "ng-submit" => "pickProduct()"}
    = text_field_tag 'barcode', nil, "ng-model" => "scannedBarcode", "ng-change" => "scanBarcode()", "focus-me" => "focusScanner", placeholder: 'Item barcode'
    = submit_tag 'Submit Scanner Input'
    .flash
      .error
        {{errorMessage}}
      .notice
        {{notice}}

  %p
  %center
    %big Products To Be Picked
  %p
  %hr
  .gridStyle{"ng-grid" => "gridOptions"}
