%div{'id' => 'picklist', 'ng-controller' => 'PicklistCtrl', 'class' => 'row'}
  = render "header"
  %div.col-md-12{'style' => 'margin-top: 70px;'}
    %center
      %h2 Products To Be Picked
    %div.row.barcode-form
      %div.col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3{'style' => 'padding:0;'}
        %form{ "ng-submit" => "pickProduct(1)", 'class'=>'form-inline'}
          %div.input-group
            = text_field_tag 'barcode', nil, "ng-model" => "scannedBarcode", "focus-me" => "focusScanner", placeholder: 'Item barcode', 'class' => 'form-control'
            %span.input-group-btn
              = submit_tag 'Submit Scanner', 'class'=>'btn btn-primary'
          .flash
            .error
              {{errorMessage}}
            .notice
              {{notice}}
    %div.row
      %div.col-xs-12.col-sm-6.col-md-7.col-lg-7
        %h5{'style'=>'margin-top:5px;'}
          %span#current_time
            {{time}}
          | UNPICKED ORDERS:
          %span#unpicked_order_count
            {{unpicked_count}}
      %div.col-xs-12.col-sm-6.col-md-5.col-lg-5
        %div.btn-group.btn-block{'style'=>'margin-top:-5px;margin-bottom:15px;'}
          %button.btn.btn-default.btn-sm{'ng-click' => "markAsOutOfStock()", 'style' => 'width:30%;'}
            Out of Stock
          %button.btn.btn-default.btn-sm{'ng-click' => "removePickedOrders()", 'style' => 'width:40%;'}
            Remove Picked Orders
          %button.btn.btn-default.btn-sm{'ng-click' => "productDetail()", 'style' => 'width:30%;'}
            Product Detail
    #picklist.gridStyle{"ng-grid" => "gridOptions"}
