.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  height: 300px;
}

.flash {
  display: inline;
  color: #FFFFFF;
  .notice {
    display: inline;
    padding: 5px 0;
    background: #7aa83d;
  }
  .error {
    display: inline;
    padding: 5px 0;
    background: #864323
  }
}

.current_product {
  padding: 0 0 10px 5px;
}

.picked {
  color: #468847;
}

.hidden {
  display: none;
}

.modal {
  th,td {
    padding: 5px;
  }
  th {
    text-align: right;
  }
}
