.flash {
  display: inline;
  color: #FFFFFF;
  .notice {
    padding: 0px 10px;
    margin: 5px 0;
    background: #7aa83d;
  }
  .error {
    padding: 0px 10px;
    margin: 5px 0;
    background: #864323
  }
}

.current_product {
  padding: 0 0 10px 5px;
}

.picked {
  color: #468847;
}

.hidden {
  display: none;
}

.modal {
  th,td {
    padding: 5px;
  }
  th {
    text-align: right;
  }
}

.box {
  line-height: 3em;
  margin: 10px auto;
}

.history {
  margin-top: 20px;
  th, td {
    text-align: center;
    cursor: pointer;
  }
  .selected {
    background: #c9dde1;
  }
}

input, .btn {
  border-radius: 0 !important;
}
