.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
  padding: 5px 0;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
  word-break: break-word;
}
.ng-button{
  line-height: 1 !important;
}
