%div.product-detail.col-md-offset-2.col-md-8.col-sm-12
  %div.row.main-info{'ng-init' => "product=#{product.to_json};watchProduct(product)"}
    %div.col-md-4.col-sm-4
      %img.img-thumbnail{'src' => product.image, 'width' => '100%'}
    %div.col-md-8.col-sm-8
      %h4.title
        %click-to-edit{"data" => "product.name", "ng-click" => "removeFocus()", "after-save" => "updateProduct('name')"}
    %div.col-md-8.col-sm-8
      %table
        %tr
          %th SKU:
          %td
            {{product.store_sku}}
        %tr
          %th Location:
          %td
            %click-to-edit{"data" => "product.location", "ng-click" => "removeFocus()", "after-save" => "updateProduct('location')"}
        %tr
          %th Sale Price:
          %td
            %click-to-edit{"data" => "product.price", "ng-click" => "removeFocus()", "after-save" => "updateProduct('price')"}
        %tr
          %th Status:
          %td
            %click-to-edit{"data" => "product.stock_status", "ng-click" => "removeFocus()", "after-save" => "updateProduct('stock_status')"}
